# Ignore specific translation folder contents except scripts
raw/moenovel/*
!raw/moenovel/scripts/
raw/amaterasu/*
!raw/amaterasu/scripts/
raw/georgehenryshaft/*
!raw/georgehenryshaft/scripts/

raw/final-complete/*
!raw/final-complete/scripts/

# Ignore other files in raw
raw/*.exe
raw/*.dll 